.body{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cancelPopup{
    border: none;
    position: absolute;
    background: rgba(255, 255, 255, 0);
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
}
.cancelPopup:after{
    content: '';
    background: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transform: rotate(45deg);
}
.cancelPopup:before{
      content: '';
      background: white;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transform: rotate(-45deg);
}
.container{
    padding: 40px 20px 20px;
    width: 60%;
    height: 80%;
    background: #3b3b3b;
}
.image{
    width: 100%;
    height: 90%;
    object-fit: contain;
    background: black;
}
.controlPanel{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.favButton {
    padding: 0;
    display: flex;
    border: none;
    background: rgba(0, 0, 0, 0);
}
.favImage:active {
    pointer-events: none;
    width: 33px;
}
.favImage {
    padding: 5px;
    width: 30px;
}
.imageDelete{
    font-weight: bold;
    background: black;
    color: white;
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonMassive{
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: Calibri;
    color: white;
    background: #5b5b5b;
}
@media (any-hover) {
    .favButton:hover{
        background: rgba(0, 0, 0, 0.5);
    }
    .cancelPopup:hover{
        background: rgba(255, 255, 255, 0.26);
    }
    .buttonMassive:hover{
        background: #7a7a7a;
    }
}
@media (max-width: 500px){
    .container{
        height: 60%;
        width: 80%;
    }
}