.body {
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cat {
    position: relative;
    width: 80% ;
    min-height: 65vh;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
}

.catImage {
    object-fit: contain;
    width: 100%;
    max-height: 100%;
}

.newCatButton {
    background: #363636;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    color: #ffffff;
}

@media (any-hover: hover) {
    .newCatButton:hover {
        background: #4f4f4f;
    }
}

.newCatButton:active {
    background: #777777;
}

@media (max-height: 600px) {
    .cat {
        min-height: 55vh;
        height: 55vh;
    }
}

@media (max-height: 400px) {
    .cat {
        min-height: 45vh;
        height: 45vh;
    }

    .newCatButton {
        padding: 10px 15px;
        margin: 10px 10px;
    }
}

.favButton {
    display: flex;
    border: none;
    background: rgba(0, 0, 0, 0);
    right: 6px;
    bottom: 6px;
    position: absolute;
    padding: 0;

}

.favImage {
    padding: 5px;
    width: 30px;
}

@media (any-hover: hover) {
    .favButton:hover {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.4);
    }
}
.favImage:active{
    pointer-events: none;
    width: 33px;
}