.header {
    z-index: 1;
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
}
.headerBackground{
    position: absolute;
    z-index: -1;
    background: #212121;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}

.logo {
    padding-left: 10px;
    width: 80px;
    user-select: none;
    pointer-events: none;
}

.loginBlock {
    margin-right: 20px;
    color: white;
}
.content{
    z-index: 1;
    display: flex;
    user-select: none;
    padding: 20px;
    font-size: 20px;
    height: min-content;
}
.contentMini{
    z-index: -100;
    display: none;
    flex-direction: column;
    user-select: none;
    font-size: 20px;
    top: 80px;
    right: 0;
    position: absolute;
    background: #212121;
}
.activeLink{
    padding: 5px 10px;
    font-weight: bold;
    text-decoration: none;
    color: #0bd1d9;
    text-shadow: 0px 0px 20px #09f4ff;
}
.link {
    padding: 5px 10px;
    font-weight: bold;
    text-decoration: none;
    color: white;

}
@media (any-hover) {
    .activeLink:hover{
        background: black;
    }
    .link:hover{
        background: black;
    }
}
.menuIcon{
    user-select: none;

    cursor: pointer;
    visibility: hidden;
    right: 10px;
    position: absolute;
}
.menuIconImage{
    pointer-events: none;
    width: 50px;
}
@media (max-width: 800px) {
    .menuIcon{
        visibility: visible;
    }
    .contentMini{
        display: flex;
    }
    .content{
        visibility: hidden;
        position: absolute;
        flex-direction: column;
    }
}