.body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.selector{
    max-width: 200px;
}
.bodyItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    border: none;
    padding: 5px;
    height: 150px;
    width: 150px;
}