.tableBody{
    display: flex;
    table-layout: fixed;
}
.table {
    height: 100%;
    padding: 20px;
    table-layout: fixed;
}
.headerText{
    font-weight: 500;
    color: white;
    text-align: center;
}
.item{
    background: #525252;
}
.itemImage{
    object-fit: cover;
    height: 80px;
    width: 100%;
}
.likeText{
    color: greenyellow;
}
.dislikeText{
    color: red;
}
.idText{
    color: white;
}
.deleteButton{

}