.app-wrapper{
  display: flex;
  justify-content: center;
}
.app-body{
  display: grid;
  grid-template-areas:
  "h"
  "c";
  width: 100%;
  max-width: 1200px;
  grid-gap: 20px;
  padding-bottom: 100px;
}