.appBody{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
}
.appContainer{

  width: 1200px;
  background: rgba(75, 75, 75, 0.8);
}
.appContent{
  display: grid;
  grid-template-areas:
  "h"
  "c"
  "c";
  width: 100%;
}